@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    max-width: 100vw;
    overflow-x: hidden;
}

 * {
    margin: 0;
    padding: 0;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: #243e63;
 }

body {
    display: block;
}

nav {
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__row {
    display: flex;
    justify-content: space-between;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav__logo--img {
    height: 60px;
    width: 60px;
}

.nav__logo--title {
    font-size: 24px;
    font-weight: 900;
    margin-left: 8px;
    padding-bottom: 2px;
    letter-spacing: 0.6px;
}

@media (max-width: 1024px) {
    .nav__links {
        display: none;
    }
}

.nav__links {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
}

.nav__link {
    font-size: 14px;
    font-weight: 600;
    padding-top: 4px;
    margin: 0 24px;
    letter-spacing: 0.35px;
    border-bottom: 2px solid transparent;
    position: relative;
    transition: all 300ms;
}

a {
    display: inline;
    text-decoration: none;
}

a:link {
    cursor: auto;
}

.nav__link:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background-color: #6415ff;
    transition: all 300ms ease;
    opacity: 0;
}

.nav__link--primary {
    margin: 0;
    padding: 10px 32px;
    margin-top: 2px;
    border-radius: 9999px;
    color: #ffffff;
    background-color: #6415ff;
    line-height: 1.5;
    border: none;
    width: auto;
    transition: all 300ms ease;
}

@media (max-width: 1024px) {
    .btn__menu {
        display: block;
    }
}

.btn__menu {
    background-color: transparent;
    border: none;
    display: none;
    transition: all 300ms ease;
}

.btn__menu {
    background-color: transparent;
    border: none;
    display: block;
    transition: all 300ms ease;
}

.btn__menu--close {
    position: fixed;
    top: 24px;
    right: 18px;
}

button {
    align-items: flex-start;
    text-align: center;
    padding-block-start: 2px;
    padding-block-end: 3px;
    padding-inline-start: 6px;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    appearance: auto;
    cursor: pointer;
}

.nav__link--primary:after {
    content: "";
    width: 0;
    height: 0;
}

.menu {
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px;
    padding: 32px;
    background-color: #ffffff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 300ms ease;
}

.menu__link--primary {
    color: #f7fafc;
    padding: 12px 32px;
    background: #6415ff;
    border-radius: 500px;
    border: none;
}

.menu__link {
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}

.light___StyledCloseIcon-lj69nl-14.fASujC {
    width: 24px;
    height: 24px;
    fill: none;
    stroke: currentcolor;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

header {
    position: relative;
}

@media (max-width: 1024px) {
    header .row {
        flex-direction: column;
        align-items: center;
        align-items: flex-end;
    }
}

@media (max-width: 1024px) {
    .header__description, .header__img--wrapper {
        width: 100%;
        max-width: 512px;
        margin: 0 auto;
    }
}

header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__description {
    width: 40%;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.purple {
    color: #6415ff;
}


@media (max-width: 1024px) {
    h1 {
        font-size: 30px;
    }
}

@media (max-width: 1280px) {
    h1 {
        font-size: 36px;
        color: #1a202c;
        line-height: 1.25;
    }
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

@media (max-width: 1024px) {
    .header__description {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 1024px) {
    .header__description--para {
        margin: 20px 0;
        font-size: 16px;
    }
}

.header__description--para {
    margin: 32px 0;
}


p {
    font-size: 18px;
    line-height: 1.5;
}


:host, :root {
    --fa-style-family-classic: "Font Awesome 6 Free";
    --fa-font-solid: normal 900 1em/1 "Font Awesome 6 Free";
}

h1 {
    font-size: 48px;
    color: #1a202c;
    line-height: 1.25;
}

:is(article, aside, nav, section) h1 {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

:host, :root {
    --fa-font-regular: normal 400 1em/1 "Font Awesome 6 Free";
}

:host, :root {
    --fa-style-family-brands: "Font Awesome 6 Brands";
    --fa-font-brands: normal 400 1em/1 "Font Awesome 6 Brands";
}

html {
    display: block;
    color: canvastext;
}

.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;
}

div {
    overflow-wrap: break-word;
    -webkit-nbsp-mode: space;
    line-break: after-white-space;
    -webkit-user-modify: read-write-plaintext-only;
}



